/BankApplication/nbproject/private/
/BankApplication/build/
/Prac1_scriptlet_jsp/nbproject/private/
/Prac1_scriptlet_jsp/build/
/Prac1_jstl_jsp/nbproject/private/
/Prac1_jstl_jsp/build/
/Prac2_jsp/nbproject/private/
/Prac2_jsp/build/
/Prac3_jsp/nbproject/private/
/Prac3_jsp/build/
/Prac4_jsp/nbproject/private/
/Prac4_jsp/build/
/StaticPass/nbproject/private/